/* MainLayout.css */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: transparent; /* הסרת הרקע מהקונטיינר */
}
 
 .main-content-full {
  flex: 1;
  width: 100%;
  padding-top: 95px; /* הוספנו פדינג של 80px למעלה */

 }
 
 @media (max-width: 768px) {
  .layout-container {
    padding-top: 75px; /* פדינג קטן יותר במובייל */
  }
 }